*{
  box-sizing: border-box;
}
body{
  background-color: #ddd;
}
.poke{
  width: 500px;
  height: 700px;
  background-color: #dc0a2d;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);     
  border-radius: 10px;
  box-shadow: 5px 5px 1px 1px #790d22;
  border: 2px solid #222; 
}
.poke .pokeHeader{
  width: 400px;
  height: 90px;
  background-color: #dc0a2d;
  box-shadow: 1px 5px 1px 1px #790d22;
  border-radius: 10px 10px 50px 0px;
  position: absolute;
}
.poke .pokeHeader2{
  width: 96px;
  height: 45px;
  background-color: #dc0a2d;
  box-shadow: 0px 5px #790d22;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  right: 0;
}
.poke .pokeHeader >ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
.poke .pokeHeader >ul >li{
  width: 20px;
  height: 20px;
  background-color: #2fadfb;
  border-radius: 20px;
  position: relative;
  border: 1px solid #222;
  box-shadow: 1px 1px 1px 1px #790d22;
}
.poke .pokeHeader >ul >li:nth-of-type(1){
  width: 55px;
  height: 55px;
  background-color: #bbb;
  border-radius: 50px;
}
.poke .pokeHeader >ul >li:nth-of-type(1) >div:nth-of-type(1){
  width: 50px;
  height: 50px;
  background-color: #1b699e;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #222;     
}
.poke .pokeHeader >ul >li:nth-of-type(1) >div:nth-of-type(2){
  width: 40px;
  height: 40px;
  background-color: #2fadfb;
  border-radius: 50px;
  position: absolute;
  left: 3px;
  top: 3px;
}
.poke .pokeHeader >ul >li:nth-of-type(1) >div:nth-of-type(3){
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.poke .pokeHeader >ul >li:nth-of-type(2){
  background-color: #dc0a2d;
  
}
.poke .pokeHeader >ul >li:nth-of-type(2) >div{
  width: 5px;
  height: 5px;
  background-color: #ddd;
  border-radius: 50px;
  position: absolute;
  left: 3px;
  top: 3px;
}
.poke .pokeHeader >ul >li:nth-of-type(3){
  background-color: #ffe22b;
  
}
.poke .pokeHeader >ul >li:nth-of-type(3) >div{
  width: 5px;
  height: 5px;
  background-color: #ddd;
  border-radius: 50px;
  position: absolute;
  left: 3px;
  top: 3px;
}
.poke .pokeHeader >ul >li:nth-of-type(4){
  background-color: #356633;
  
}
.poke .pokeHeader >ul >li:nth-of-type(4) >div{
  width: 5px;
  height: 5px;
  background-color: #ddd;
  border-radius: 50px;
  position: absolute;
  left: 3px;
  top: 3px;
}
.poke .pokeBody{
  width: 480px;
  height: 580px;
  background-color: #dc0a2d;
  position: absolute;
  bottom: 10px;
  left: 8px;  
  border-radius: 10px;
  box-shadow: inset 2px 2px 1px 1px #790d22;
  border: 2px solid #222; 
}
.poke .pokeBody .frame{
  width: 436px;
  height: 300px;
  background-color: #dedede;
  border-radius: 5px;
  border: 2px solid #222;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  padding: 10px; 
  box-shadow: 1px 1px 1px 1px #790d22;
}
.poke .pokeBody .frame .screen{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #555;
  box-shadow: 1px 1px 20px 20px rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
}
.poke .pokeBody .frame .screen .screenDefault .top{
  width: 100%;
  height: 30px;
  background-color: rgb(165, 52, 52);
  display: flex;
}
.poke .pokeBody .frame .screen .screenDefault .top .ball{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  position: relative;
  left: -25px;
  background-color: rgba(255, 0, 0, 0.4);
}
.poke .pokeBody .frame .screen .screenDefault .top >span{
  color: #ddd;
  font-weight: bold;
  line-height: 30px;

}
.poke .pokeBody .frame .screen .screenMain{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.poke .pokeBody .frame .screen .screenMain div{
  width: 50%;
  float: right;
}
.poke .pokeBody .frame .screen .screenMain >div .sub{
  width: 100%;
  height: 80px;
  gap: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.2);
}
.poke .pokeBody .frame .screen .screenMain >div .sub:nth-of-type(even){
  background-color: rgba(0, 60, 255, 0.2);
}
.poke .pokeBody .frame .screen .screenMain >div .sub p{
  font-size: 12px;
  color: #fff;
  -webkit-text-stroke: 1px rgb(48, 48, 44);
}
.poke .pokeBody .search{
  width: 436px;
  height: 100px;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.poke .pokeBody .search input{
  border: 2px solid #000;
  background-color: #ddd;
  width: 80%;
  height: 40px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 1px 1px 1px 1px #790d22;
  font-size: 14px;
  padding-left: 10px;
}
.poke .pokeBody .search button{
  border: 2px solid #000;
  border-left: none;
  background-color: #790d22;
  width: 20%;
  height: 40px;
  border-radius: 0px 5px 5px 0;
  box-shadow: 1px 1px 1px 1px #790d22;
  cursor: pointer;
}
.poke .pokeBody .search button >i{
  font-size: 20px;
  color: #aaa;
  transition: 0.2s;
}
.poke .pokeBody .search button:hover >i{
  font-size: 19px;
}
.poke .pokeBody .arrow{
  width: 436px;
  display: flex;
  justify-content: center;
  gap: 40px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.poke .pokeBody .arrow .leftArrow,
.poke .pokeBody .arrow .rightArrow{
  width: 100px;
  height: 100px;
  background-color: #000;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  cursor: pointer;
}
.poke .pokeBody .arrow .leftArrow .inArrow,
.poke .pokeBody .arrow .rightArrow .inArrow{
  width: 90px;
  height: 90px;
  background-color: #444;
  position: relative;
  top: 4px;
  left: 7px;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  transition: 0.2s;
}
.poke .pokeBody .arrow .leftArrow .inArrow:hover,
.poke .pokeBody .arrow .rightArrow .inArrow:hover{
  filter: blur(4px);
}
.poke .pokeBody .arrow .rightArrow{
  transform: rotate(180deg);
}
.poke .pokeBody .arrow .rightArrow .inArrow{
  top: 6px;
}
.poke .pokeBody .arrow .home{
  width: 100px;
  height: 100px;
  background-color: #444;
  border: 2px solid #000;
  border-radius: 50px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #790d22;
  transition: 0.2s;
  cursor: pointer;
}
.poke .pokeBody .arrow .home:hover{
  transform: scale(0.99);
  filter: blur(0.2px);
}
.poke .pokeBody .arrow .home >span{
  color: #999;
  font-weight: bold;
  font-size: 18px;
  line-height: 96px;
  letter-spacing: 2px;
  cursor: pointer;
}